.cta-section {
  padding: 8rem 1rem;
  background-image: url("/images/girls.webp");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  overflow: hidden;
}

.cta-content {
  max-width: 440px;
  margin: 0 auto;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.cta-title {
  font-size: 24px;
  font-weight: 400;
  font-family: "Fraunces", serif;
}

.cta-description {
  line-height: 1.6;
}

.cta-content button {
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 10px 20px;
  font-size: 1.1rem;
  font-weight: 500;
  background-color: #ff97a8;
  border: none;
  border-radius: 50px;
  margin-top: 15px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .cta-section {
    background-image: url("/images/girlMobile.webp");
  }

  .cta-content button {
    width: 100%;
  }
}