.mission-section {
  padding: 5rem 2rem;
  background-color: white;
}

.mission-content {
  max-width: 510px;
  margin: 0 auto;
  text-align: center;
}

.mission-title {
  font-family: "Fraunces", serif;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.5rem;
}

.mission-title .blank {
  width: 40px;
  visibility: hidden;
}

.mission-statement {
  line-height: 1.5;
  margin-bottom: 2rem;
  color: #384252;
}

.purpose-statement {
  margin: 2rem 0;
}

.purpose-statement p {
  margin: 5px 0;
}

.highlight-text {
  font-size: 22px;
  font-weight: 600;
}

.pink {
  color: #ff9bb3;
  font-weight: 600;
}

.mission-footer {
  color: #555;
  margin-top: 1rem;
}

.mission-image-container {
  margin-top: 1.5rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.mission-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  display: block;
  margin: 0 auto;
}
